<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="128" alt="Angular Logo" src="assets/icon-128.png">

  <p></p>

  <div class="instructions">

    <ol>
      <li>
        Connect your Kindle device on the computer's USB port
      </li>
      <li>Click on the
        <i>"Choose file"</i> button</li>
      <li>
        Select the clippings file on the Kindle device
      </li>
    </ol>
  </div>
  <div class="form">
    <form>
      <label for="clippings_file">
        <fa name="tablet"></fa>
        <fa name="arrow-right"></fa>
        <fa name="usb"></fa>
        &nbsp;
        <fa name="angle-double-right"></fa>
        &nbsp;
        <fa name="folder-open-o"></fa>
        <i>documents/My Clippings.txt</i>
        &nbsp;
        <fa name="angle-double-right"></fa>
        &nbsp;
      </label>
      <input type="file" id="clippings_file" name="clippings_file" accept=".txt" (change)="processClippingsFile($event)" required>
    </form>
    <div>
      <app-clippings></app-clippings>
    </div>
  </div>
</div>