<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="128" alt="Angular Logo" src="assets/icon-128.png">

  <p></p>
  <button [hidden]="processed" [disabled]="connected" class="button" (click)="connectKindle()">{{buttonText}}</button>
  <p></p>
  <div *ngIf="connected">
    <form>
      <label [hidden]="processed" for="clippings_file">Upload the "My Clippings.txt" file from the device</label>
      <input [hidden]="processed" type="file" id="clippings_file" name="clippings_file" accept=".txt" (change)="processClippingsFile($event)" required>
    </form>
    <div>
      <app-clippings></app-clippings>
    </div>
  </div>
</div>


